.NavBar {
  display: flex;
  align-items: center;
  height: 80px;
  color: black;
  background-color: white;
  justify-content: space-between;
  padding: 20px;
}

.NavTitle {
  display: flex;
  gap: 10px;
}

.NavLinks {
  display: flex;
  list-style: none;
  gap: 15px;
}